<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/tree-viewer.css">
    <title>tranX</title>

    <style>
        .starter-template {
            padding: 1.5rem 1.5rem;
            text-align: center;
        }

        .hyp-code {
            margin-bottom: 0px;
        }

        .hypotheses{
            margin-top: 20px;
        }

        .hypothesis{
            margin-bottom: 10px;
        }

        .hyp-detail {
            margin-top: 10px;
        }
    </style>
  </head>
  <body>
    <main role="main" class="container">

    <div class="starter-template">
        <div class="row" style="margin-bottom: 50px">
          <div class="col" style="text-align: left; font-size: 13px;">
            This is a fork of <a href="https://github.com/pcyin/tranX">TranX</a> modified to translate
            English to HTML. It is an exploration of <a href="https://blog.antipa.io/the-dreamup/">The Dreamup: A codeless alternative to the Web</a>.
            This model was trained on just 6k english-html pairs, specifically for html video tags.
          </div>
        </div>
        <div class="row" style="margin: 15px 0px">
            <div class="col">
              <div class="input-group">
                  <input type="text" class="form-control" id="inputUtterance" placeholder="Describe an HTML <video /> in English" style="width:70%;">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="btn_parse">Parse</button>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col" style="text-align: left; font-size: 13px; margin-top: 15px">
            <div>Try an example </div>
            <div class="card-text"><a href="#" onclick="parse_example(this, 'html');">Show a video with the source doctor.mp4</a></div>
            <div class="card-text"><a href="#" onclick="parse_example(this, 'html');">Display a muted video from foo.mp4 and automatically play it</a></div>
          </div>
        </div>
        <div class="hypotheses">
        </div>
    </div>

    </main><!-- /.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="static/parser.js"></script>
    <script src="static/d3Tree.js"></script>
    <script>
        var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Parsing...';

        var parse_example = function(e_ref, dataset) {
            //alert($(e_ref).html());
            utterance = $(e_ref).html()
            $('#inputUtterance').val(utterance)
            $('#btn_parse').click()
            return false;
        }

        var on_parse = function(){
            $('.hypotheses').empty()
            $('#btn_parse').prop('disabled', true)
            $('#btn_parse').html(loadingText)
            input_utterance = $('#inputUtterance').val()
            //alert(input_utterance)
            dataset = 'html';
            // hack to get floydhub --serve working. Get the last segment after `serve`
            // which is the job id. The if the job id is ab123 the url will be /serve/ab123/rest/of/path
            segment = location.pathname.match(/serve\/([A-Z,a-z,0-9]*)/)[1];
            console.log("segment: ", segment);

            post_url = segment + '/parse/' + dataset + '/' + encodeURIComponent(input_utterance)

            $.get(post_url, function(data){
                //alert(data[0]['value'])
                hypotheses = data['hypotheses']
                for (i = 0; i < hypotheses.length; i++) {
                    hyp = hypotheses[i]

                    action_seq_html = ''
                    for (t = 0; t < hyp['actions'].length; t++) {
                        action_t = hyp['actions'][t]
                        action_seq_html += `<li class="list-group-item">${action_t}</li>` + '\n'
                    }

                    // To render html literals correctly replace them with html entities
                    codeStr = hyp['value']
                      .replace("&", "&amp;")
                      .replace("<", "&lt;")
                      .replace(">", "&gt;")
                      .replace('"', "&quot;")
                      .replace("'", "&#039;")

                    hyp_html = `<div class="row hypothesis">
                <div class="col">
                    <div class="card text-left">
                        <div class="card-header">
                            Hypothesis ${hyp['id']} [Score=${hyp['score']}]
                            <a class="float-right" data-toggle="collapse" href="#hyp_${hyp['id']}_detail" role="button">[Show]</a>
                        </div>
                        <div class="card-body">
                            <pre class="hyp-code">${codeStr}</pre>
                            <div class="collapse multi-collapse hyp-detail" id="hyp_${hyp['id']}_detail">
                                <h6 style="margin-top: 10px">Action Sequence</h6>
                                <ul class="list-group">
                                    ${action_seq_html}
                                </ul>
                                <h6 style="margin-top: 10px">AST Visualization</h6>
                                <div id="tree_container_hyp${hyp['id']}"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>`

                    $('.hypotheses').append(hyp_html)

                    // draw AST
                    // the below is broken bc of floydhub path loading
                    // var tree_json_data = parse(hyp['tree_repr'].replace(/\\/g, "\\\\"))
                    // d3Tree(tree_json_data, hyp['id']);
                }

                $('#btn_parse').prop('disabled', false)
                $('#btn_parse').html('Parse')
            })
        }

        $('#btn_parse').click(on_parse)
        $(function() {
          $('#inputUtterance').focus();
        })
    </script>
  </body>
</html>
